@media screen and (min-width: 1920px){
	.header-title p{
		font-size: 32px;

	}
	.header-title h1 {
		padding-top: 97px;
		font-size: 74px;
	}
	.header-title h2 {
		font-size: 82px;
	}
	.header-title button {
		font-size: 32px;
		padding: 21px 40px;
	}
	.menu {
		font-size: 23px;
	}
	.tel {
		font-size: 22px;
	}
	.logobox span {
		font-size: 19px;
	}
}
@media screen and (max-width: 1600px){
	.header-title p{
		font-size: 22px;

	}
	.header-title h1 {
		padding-top: 74px;
		font-size: 64px;
	}
	.header-title h2 {
		font-size: 43px;
	}
	.header-title button {
		padding: 16px 35px;
		font-size: 22px;
	}
	.menu {
		font-size: 18px;
	}
	.tel {
		font-size: 18px;
	}
	.logobox span {
		font-size: 15px;
	}
}

@media  screen and (max-width: 1070px){
	.sldotq {
		margin-top: -89px;
	}
	.container {
		padding: 0px 10px;
	}
	
}
@media screen and (max-width: 1000px){
	.slide-cont {
		flex-flow: column;
	}
	.actimg {
		margin: 0 auto;
	}
	.slcont {
		text-align: center;
	}
	.slcont h2 {
		padding-top: 29px;
	}
	.slcont a {
		margin: 20px auto;
	}
	.pslcont {
		margin: 0 auto;
	}
	.sldotq{
		justify-content: center;
		margin-top: -11px;
	}
	.actual {
		background: center /  auto 110% no-repeat url(../img/bgs.png);
	}
}