/* Slider */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    outline: none;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}
 /* button */

 .sldotq {
    display: flex;
  }
.slick-arrow.slick-hidden {
    display: none;
}
.sldotq li:nth-child(1) button {
    background: url(../img/nsl1.png);
  }
  .sldotq li:nth-child(2) button {
    background: url(../img/nsl2.png);
  }
  .sldotq li:nth-child(3) button {
    background: url(../img/act3.png);
  }
  .sldotq li:nth-child(4) button {
    background: url(../img/nsl4.png);
  }
  .sldotq button:hover {
    opacity: 1;
  }
  .sldotq button {
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
  .sldotq .slick-active button {
    opacity: 1;
    box-shadow: -2px 0px 8px 8px #887888;
  }
  .sldotq button {
    margin: 17px 10px;
    font-size: 0;
    border: none;
    height: 117px;
    width: 122px;
    opacity: 0.4;
    outline: none;
    border-radius: 39%;
    transition: 400ms;
  }
  .nav-main_slide {
      display: flex;
    width: 100%;
      position: absolute;
      bottom: 19px;
      justify-content: center;   
  }
  .nav-main_slide button {
    display: none; 
  }
  .nav-main_slide li {
      cursor: pointer;
      margin: 0 5px;
    width: 15px;
    height: 15px;
    border-radius:50%;
    background-color: unset;
    border: 1px solid white;
  }
  .nav-main_slide li.slick-active {      
      background: white;
  }